.row-1 {
  height: 80vh;
}

.card {
  margin-left: 11.1rem !important;
}

.card p:hover {
  cursor: pointer;
  background-color: lightgrey;
}

#checkbox {
  cursor: pointer;
}

#remove {
  cursor: pointer;
}

.clipboard:hover {
  cursor: pointer;
}

.suggestions {
  margin-left: 14.7rem !important;
  width: 65rem;
}

/* .suggestions li{
  padding-left: 0.5rem
}

.suggestions li:hover{
  cursor: pointer;
  background-color: darkgray;
} */
